#content    
  %body
    %h1
      == There are #{@users.length} users in your database
    
    %table{:width => '500px', :border => 1}
      %tr
        %td
          %strong='ID'
        %td
          %strong='Username'
        %td
          %strong='Email address'
        %td
          %strong='First Name'
        %td
          %strong='Last Name'
        %td
          %strong='Admin Status'
      -@users.each do |user|
        %tr
          %td=user.id
          %td=user.username
          %td=user.email
          %td=user.first_name
          %td=user.last_name
          %td=user.admin.to_s
          
          
    %form{:action => '/dbview', :method => 'post'}
      %br
      %br
      %table{:width => '100%', :border => 0}
        %tr
          %td='Please insert id you want to delete/update'
        %tr
          %td
            %input{:type => 'text', :name => 'id', :value => @update_selected ?"#{@mod_user.id}" :""}
          
            %input{:type => 'radio', :name => 'radOptions', :value => 'delete', 
            :checked => !@update_selected || nil}Delete
           
            %input{:type => 'radio', :name => 'radOptions', :value => 'update',
            :checked => @update_selected || nil}Update
           
            %input{:type => 'submit', :value => 'Submit'}
      %br
      -if(@update_selected == true)
        %br
        %table{:width => '100%', :border => 0}
          %tr
            %td User name :
            %td
              %input{:type => 'text', :name => 'u_username', :value => "#{@mod_user.username}"}*
          
          %tr
            %td Password :
            %td
              %input{:type => 'text', :name => 'u_password', :value => "#{@mod_user.password}"}*
            
            
          %tr
            %td Email :
            %td
              %input{:type => 'text', :name => 'u_email', :value => "#{@mod_user.email}"}*
            
          %tr
            %td First name :
            %td
              %input{:type => 'text', :name => 'u_fName', :value => "#{@mod_user.first_name}"}
            
          %tr
            %td Last_name :
            %td
              %input{:type => 'text', :name => 'u_lName', :value => "#{@mod_user.last_name}"}
          
          %tr
            %td Admin status :
            %td
              %input{:type => 'checkbox', :name => 'u_admin', :checked => @mod_user.admin || nil}
              
                             
    %end  
            
            
    
    
            
